.locations, .amenities {
    height: 100%;
    width: 25%;
    float: left;
    margin: 0;
}

/* .amenities{
    float: left;
    height: 100%;
    width: 25%;
    margin: 0;
} */

.locations{
    border-right: 1px solid #ddd;
}

.filters h3{
    font-size: 1.17em;
    font-weight: 600;
    height: 50%;
    padding: 15.5px 0 0 30px;
    margin: 0;
}

.filters h4{
    height: 50%;
    font-weight: 400;
    font-size: 14px;
    padding: 4.5px 0 12px 30px;
}

.filters {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 70px;
    width: 100%;
  }

  .filters button{
    font-size: 18px;
    background-color: #ff5a5f;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    float: right;
    margin: 10px;
    border-right: 30px;
}

.filters button:hover{
    opacity: 90%;
}
