.places {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
  }

.places article {
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    width: 390px;
    
  }
  
  
  
  /* Header 1 style */
  .places h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    
  }
  
  /* Header 2 style */
  .places h2 {
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
  }
